/* global */

/* box sizing stosujemy domyślnie */
/* gwiazdka stylizuje wszystko, poniżej dla wszystkich elementów oraz dla pseudoelementów before, after */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    margin: 0;
 }

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Container */

.container {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 5px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

/* section */

.brand a, 
.brand img {
    display: block;
}

/* menu */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 3px;
}

nav a {
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    display: block;
}

nav a:hover {
    background-color: black;
    color: white;
}

/* slider */

.slider img {
    display: block;
}

/* main */

main {
    display: flex;
    justify-content: space-between;
}

article {
    width: 70%;
    padding: 30px;
}

aside {
    width: 30%;
    padding: 20px;
    border-left: 1px solid grey;
}

.widget {
    margin-bottom: 40px;
}

.widget img {
    float: left;
    margin: 0 12px 3px 0;
}

.widget ul {
    list-style-type: square;
    padding: 0 0 0 18px;
    margin: 0;
}

.widget li {
    margin-bottom: 15px;
}

footer {
	background: #f8f8f8;
	border-top: 1px solid #e1e1e1;
	padding: 22px 15px;
    text-align: center;
    border-radius: 5px;
}

footer p {
	margin: 0;
}